image: Visual Studio 2022
environment:
  timeout: 20000
  matrix:
    # - nodejs_version: "12"
    - nodejs_version: "20"
platform:
  # - x86
  - x64
install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - npm install
  - node --version
  - npm --version
  - npm run fix-memory-limit
build_script:
  - npm run lint
  - npm run build
test_script:
  - npm run test
