<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="description" content="A showcase for OpenSheetMusicDisplay.">
        <meta name="author" content="OpenSheetMusicDisplay contributors">
        <!-- Demo index.js file is included automatically by webpack during build -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
        <link rel="icon" href="./favicon.ico?" type="image/x-icon"/>
        <!--link href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" media="all" rel="stylesheet"/-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <style>
            *{
                font-family: sans-serif;
            }
            div#sheet-container{
                overflow-y: scroll;
                background-color: #fefefe;
                position:fixed;
                left:600px;
                top:0px;
                bottom:0px;
                right:0px;
            }
            div#menu{
                background-color: #CDE;
                position:fixed;
                left:0px;
                top:0px;
                bottom:0px;
                width:600px;
            }
            div#menu>div#menu-header{
                height:32px;
            }
            div#menu>div#menu-header>img{
                position:absolute;
                height:32px;
                left:8px;
                top:8px;
                width:32px;
            }
            div#menu>div#menu-header>div#brand{
                font-weight: 900;
                font-size: 1.5em;
                position:absolute;
                height:32px;
                left:72px;
                top:8px;
                right:8px;
                bottom:0px;
                line-height: 32px;
                text-align:center;
            }
            div#menu>div#menu-header>div#brand>#osmd-version{
                font-weight: 100;
                font-size: 0.8em;
                line-height: 32px;
                text-align:center;
            }
            div#menu>div.menu-item{
                padding:8px;
                padding-bottom:0px;
            }
            input,button,select{
                display:block;
                min-width:100%;
                max-width:100%;
                min-height:100%;
                max-height:100%;
                box-sizing: border-box;
            }
            select {
                margin:0px;
                padding:0px;
            }
            button{
                display:inline-block;
                cursor:pointer;
                min-height:100%;
                max-height:100%;
            }
            table{
                width:100%;
            }
            input.larger {
                cursor: pointer;
                height: 2em;
            }
        </style>
    </head>
    <body>
        <div id="menu">
            <div id="menu-header" style="line-height:32px;">
                <img src="./favicon.ico?" style="width:32px;height:32px">
                <div id="brand">
                    <span><%= htmlWebpackPlugin.options.title %></span><br/>
                    <span id="osmd-version"></span>
                </div>
            </div>
            <table cellpadding="4" cellspacing="4">
                <tr>
                    <td width="*">.</td>
                    <td width="10%">.</td>
                    <td width="50%">.</td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td colspan="3">
                        Select Sample
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <select class="" id="select-sample"></select>
                    </td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <th colspan="3">
                        Transpose Chromatically
                    </th>
                </tr>
                <tr><td colspan="3">&nbsp;</td></tr>
                <tr>
                    <td>Transpose by Key</td>
                    <td>Octave</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <select class="" id="transpose-by-key">
                            <option value= "-7">Cb major / Ab minor</option>
                            <option value= "-6">Gb major / Eb minor</option>
                            <option value= "-5">Db major / Bb minor</option>
                            <option value= "-4">Ab major / F minor</option>
                            <option value= "-3">Eb major / C minor</option>
                            <option value= "-2">Bb major / G minor</option>
                            <option value= "-1">F major / D minor</option>
                            <option value= "0">C major / A minor</option>
                            <option value= "1">G major / E minor</option>
                            <option value= "2">D major / B minor</option>
                            <option value= "3">A major / F# minor</option>
                            <option value= "4">E major / C# minor</option>
                            <option value= "5">B major / G# minor</option>
                            <option value= "6">F# major / D# minor</option>
                            <option value= "7">C# major / A# minor</option>
                        </select>
                    </td>
                    <td><input type="number" id="transpose-by-key-octave" value="0" style="max-width:10ch;"/></td>
                    <td><button class="" id="transpose-by-key-btn">Transpose Key</button></td>
                </tr>
                <tr>
                    <td><strong>OR</strong> Transpose by halftones:</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="number" id="transpose-by-halftones" value="0"/></td>
                    <td></td>
                    <td><button class="" id="transpose-by-halftones-btn">Transpose halftones</button></td>
                </tr>
                <tr>
                    <td><strong>OR</strong> Transpose by Interval:</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <select class="" id="transpose-by-interval">
                            <option value="perfectOctaveAscending">Ascend by a Perfect Octave</option>
                            <option value="diminishedOctaveAscending">Ascend by a Diminished Octave</option>
                            <option value="augmentedSeventhAscending">Ascend by a Augmented Seventh</option>
                            <option value="majorSeventhAscending">Ascend by a Major Seventh</option>
                            <option value="minorSeventhAscending">Ascend by a Minor Seventh</option>
                            <option value="diminishedSeventhAscending">Ascend by a Diminished Seventh</option>
                            <option value="augmentedSixthAscending">Ascend by a Augmented Sixth</option>
                            <option value="majorSixthAscending">Ascend by a Major Sixth</option>
                            <option value="minorSixthAscending">Ascend by a Minor Sixth</option>
                            <option value="diminishedSixthAscending">Ascend by a Diminished Sixth</option>
                            <option value="augmentedFifthAscending">Ascend by a Augmented Fifth</option>
                            <option value="perfectFifthAscending">Ascend by a Perfect Fifth</option>
                            <option value="diminishedFifthAscending">Ascend by a Diminished Fifth</option>
                            <option value="augmentedFourthAscending">Ascend by a Augmented Fourth</option>
                            <option value="perfectFourthAscending">Ascend by a Perfect Fourth</option>
                            <option value="diminishedFourthAscending">Ascend by a Diminished Fourth</option>
                            <option value="augmentedThirdAscending">Ascend by a Augmented Third</option>
                            <option value="majorThirdAscending">Ascend by a Major Third</option>
                            <option value="minorThirdAscending">Ascend by a Minor Third</option>
                            <option value="diminishedThirdAscending">Ascend by a Diminished Third</option>
                            <option value="augmentedSecondAscending">Ascend by a Augmented Second</option>
                            <option value="majorSecondAscending">Ascend by a Major Second</option>
                            <option value="minorSecondAscending">Ascend by a Minor Second</option>
                            <option value="diminishedSecondAscending">Ascend by a Diminished Second</option>
                            <option value="augmentedUnisonAscending">Ascend by a Augmented Unison</option>
                            <!--option value="diminishedUnisonAscending">Diminished Unison Up</option-->
                            <option value="perfectUnison" style="background-color:yellow" selected>Remain on the Perfect Unison</option>
                            <!--option value="diminishedUnisonDescending">Diminished Unison</option-->
                            <option value="augmentedUnisonDescending">Descend by a Augmented Unison</option>
                            <option value="diminishedSecondDescending">Descend by a Diminished Second</option>
                            <option value="minorSecondDescending">Descend by a Minor Second</option>
                            <option value="majorSecondDescending">Descend by a Major Second</option>
                            <option value="augmentedSecondDescending">Descend by a Augmented Second</option>
                            <option value="diminishedThirdDescending">Descend by a Diminished Third</option>
                            <option value="minorThirdDescending">Descend by a Minor Third</option>
                            <option value="majorThirdDescending">Descend by a Major Third</option>
                            <option value="augmentedThirdDescending">Descend by a Augmented Third</option>
                            <option value="diminishedFourthDescending">Descend by a Diminished Fourth</option>
                            <option value="perfectFourthDescending">Descend by a Perfect Fourth</option>
                            <option value="augmentedFourthDescending">Descend by a Augmented Fourth</option>
                            <option value="diminishedFifthDescending">Descend by a Diminished Fifth</option>
                            <option value="perfectFifthDescending">Descend by a Perfect Fifth</option>
                            <option value="augmentedFifthDescending">Descend by a Augmented Fifth</option>
                            <option value="diminishedSixthDescending">Descend by a Diminished Sixth</option>
                            <option value="minorSixthDescending">Descend by a Minor Sixth</option>
                            <option value="majorSixthDescending">Descend by a Major Sixth</option>
                            <option value="augmentedSixthDescending">Descend by a Augmented Sixth</option>
                            <option value="diminishedSeventhDescending">Descend by a Diminished Seventh</option>
                            <option value="minorSeventhDescending">Descend by a Minor Seventh</option>
                            <option value="majorSeventhDescending">Descend by a Major Seventh</option>
                            <option value="augmentedSeventhDescending">Descend by a Augmented Seventh</option>
                            <option value="diminishedOctaveDescending">Descend by a Diminished Octave</option>
                            <option value="perfectOctaveDescending">Descend by a Perfect Octave</option>
                        </select>
                    </td>
                    <td></td>
                    <td>
                        <button class="" id="transpose-by-interval-btn">Transpose Interval</button>
                    </td>
                </tr>
                <tr><td colspan="3">&nbsp;</td></tr>
                <tr>
                    <td colspan="2">
                        Transpose Key Signatures:
                    </td>
                    <td colspan="1">
                        <input class="larger" type="checkbox" id="transpose-key-signatures" value="1" checked/>
                    </td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <th colspan="3">
                        (Experimental) Transpose Diatonically
                    </th>
                </tr>
                <tr>
                    <td>Transpose to Tone:</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select class="" id="transpose-diatonically">
                            <option value= "+14">Ascend by a Fifteenth </option>
                            <option value= "+13">Ascend by a Fourteenth</option>
                            <option value= "+12">Ascend by a Thirteenth</option>
                            <option value= "+11">Ascend by a Twelfth</option>
                            <option value= "+10">Ascend by a Eleventh</option>
                            <option  value= "+9">Ascend by a Tenth</option>
                            <option  value= "+8">Ascend by a Ninth</option>
                            <option  value= "+7">Ascend by a Eighth</option>
                            <option  value= "+6">Ascend by a Seventh</option>
                            <option  value= "+5">Ascend by a Sixth</option>
                            <option  value= "+4">Ascend by a Fifth</option>
                            <option  value= "+3">Ascend by a Fourth</option>
                            <option  value= "+2">Ascend by a Third</option>
                            <option  value= "+1">Ascend by a Second</option>
                            <option value= "0" style="background-color:yellow" selected>Remain on the same degree</option>
                            <option  value= "-1">Descend by a Second</option>
                            <option  value= "-2">Descend by a Third</option>
                            <option  value= "-3">Descend by a Fourth</option>
                            <option  value= "-4">Descend by a Fifth</option>
                            <option  value= "-5">Descend by a Sixth</option>
                            <option  value= "-6">Descend by a Seventh</option>
                            <option  value= "-7">Descend by a Eighth</option>
                            <option  value= "-8">Descend by a Ninth</option>
                            <option  value= "-9">Descend by a Tenth</option>
                            <option value= "-10">Descend by a Eleventh</option>
                            <option value= "-11">Descend by a Twelfth</option>
                            <option value= "-12">Descend by a Thirteenth</option>
                            <option value= "-13">Descend by a Fourteenth</option>
                            <option value= "-14">Descend by a Fifteenth</option>
                        </select>
                    </td>
                    <td>
                        <button class="" id="transpose-diatonically-btn">Transpose Diatonically</button>
                    </td>
                </tr>
            <!--
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <th colspan="3">
                        (Experimental) Remove Key Signatures
                    </th>
                </tr>
                <tr>
                    <td colspan="3">
                        <button class="" id="remove-key-signatures">Remove Key Signatures</button>
                    </td>
                </tr>
            -->
            </table>
        </div>
        <div id="sheet-container">
            <div>
                <table cellspacing="0">
                    <tr id="error-tr">
                        <td></td>
                        <td id="error-td"></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
