p {
  margin: 0px 8px 8px 8px;
}
:root{
  --port-collapsible-fontsize: 17px;
  --settings-margin: 10px;
}
.portraitCollapsible{
  display: none;
}
.show-on-portrait{
  display: none;
}
/* the select widths are not used for some reason, even if we don't set the style in index.html */
select {
  width: 100px;
  margin: 2px 8px 8px 8px;
}

#selectSample {
  width: 320px;
}

#selectBounding {
  width: 80%;
}
/* mobile portrait mode: change layout (responsive) to be less cluttered, remove some elements */
@media (max-width: 500px) {
  #divControls {
    position:relative;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
  }

  #selectSampleContainer{
    margin:auto;
    margin-bottom: 18px;
    align-self: center;
    background-color: #eee;
    width: 95%;
    order: -2;
    align-content: center;
  }
  #selectSampleTitle{
    background-color: #dbdbdb;
    text-align: center;
  }
  #selectSample{
    text-align: center;
    display:block;
    margin:auto;
    margin-bottom: 10px;
  }
  #zoomControls{
    background-color: #eee;
    position:absolute;
    order: 0;
    left:50%;
    transform: translateX(-50%);
    margin-top: 100px;
  }
  #zoomControlsButtons{
    display: inline;
    float:left
  }

  #zoom-in-btn{
    display: inline;
    order: 1;
  }
  #zoom-str-portrait{
    margin-left: 40px;
    margin-right:40px;
    align-self: center;
    font-size: 15px;
    font-weight: bolder;
    order: 0;
  }  
  #zoom-out-btn{
    display: inline;
    order:-1;
  }
  #print-pdf-btn{
    order:1;
    display:block;
    width: fit-content;
  }
  .hide-on-portrait{
    display: none;    
  }
  .show-on-portrait{
    display: block;
  }
  /* style collapsibles */
  .portraitCollapsible{
    margin-top: 8px;
    margin-left: -4px;
    font-weight: 550;
    display: inline;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: var(--port-collapsible-fontsize);

  }
  .portraitCollapsible:after {
    text-align: center;
    content: '\002B';
    background-color: #d6d6d6;
    width: 20px;
    font-size: port-collapsible-fontsize;
    color: #acacac;
    float: right;
    margin-left: 5px;
  }

  .portraitCollapsible.active:after {
    content: "\2212"; 
    font-size: port-collapsible-fontsize;
    color: #acacac;
    float: right;
    margin-left: 5px;
  }
  .active, .collapsible:hover {
    background-color: #d6d6d6;
  }
  .collapsibleContent{
    padding: 10px 10px;
    overflow: hidden;
    width: fit-content;
  }
  #advanced-settings-btn{
    transform: rotate(22.5deg);
    margin-left: auto;
    width:fit-content;
    display: block;
    border:none;
    float:right;
    order:1;
    margin-right: var(--settings-margin);
    background-color: transparent;
    font-size: xx-large;
  }
  #advanced-settings-btn.active{
    transform: rotate(0deg);
    margin-bottom: 20px;
  }

  .advanced-setting{
    padding-left:5px;
    background-color: #eee;
    margin-right: 10px;
    order:1;
    display: block;
    width: 100%;
    margin-right: var(--settings-margin);
    margin-left: var(--settings-margin);
  }
  #cursor-collapse-button{
    margin-top: 5px;
  }
  #last-adv-setting{
    padding-bottom: 5px;
  }
  .ui.buttons{
    border-radius: 0;
  }
}

#header{
  margin-top: 4px;
}



.bignum {
  width: 1em;
  text-align: center;
  font-size: 4em;
  color: white;
  background-color: black;
  padding: 0.3em;
  border-right: 0.3em solid white;
}

#error-tr {
  background-color: red;
  text-align: center;
}

#error-td {
  padding: 1em;
  color: white;
}

table {
    width: 100%;
}
