p {
  margin: 0px 8px 8px 8px;
}
:root{
  --port-collapsible-fontsize: 17px;
  --settings-margin: 10px;
  --theme-color-dark: #d25701;
  --theme-color-medium:#ffeee2;
  --theme-color-light: #fdf6f2;
}
.portraitCollapsible{
  display: none;
}
.show-on-portrait{
  display: none;
}
/* the select widths are not used for some reason, even if we don't set the style in index.html */
select {
  width: 100px;
  margin: 2px 8px 8px 8px;
}

#selectSample {
  width: 320px;
}

#selectBounding {
  width: 80%;
}


/* mobile portrait mode: change layout (responsive) to be less cluttered, remove some elements */
@media (max-width: 500px) {
/* general styling */

.ui.input{
  border-color: var(--theme-color-dark);
}
.ui.action.input:not([class*="left action"]) > input {
  border-color: var(--theme-color-dark);
  color: var(--theme-color-dark);
}
.ui.vertical.buttons .button:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  border-left:1px solid var(--theme-color-dark);
}
.button:last-child {
  margin-bottom: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}
.ui.animated.button .hidden.content{
  margin: 0px;
}
.ui.button{

  color: var(--theme-color-dark);
  background-color: var(--theme-color-medium);
  border: 1px solid var(--theme-color-dark);
  margin: 1px;
  border-radius: 5px;
}
.ui.toggle.checkbox {
  accent-color: var(--theme-color-dark);
}

  #divControls {
    position:relative;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
  }

  #selectSampleContainer{
    border-width: 20px;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 10px;
    align-self: center;
    background-color: var(--theme-color-light);
    width: 95%;
    order: -2;
    align-content: center;
    border: 1px solid var(--theme-color-dark);
    border-radius: 5px 5px 0px 0px;
  }
  #selectSampleTitle{
    margin-top: 1px;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--theme-color-medium);
    text-align: center;
    color: var(--theme-color-dark);
  }
  #selectSample{
    text-align: center;
    display:block;
    margin:auto;
    margin-bottom: 10px;
    color: var(--theme-color-dark);
    background-color: white;
    border: 1px solid var(--theme-color-dark);
  }
  #zoomControls{
    background-color: var(--theme-color-light);
    position:absolute;
    order: 0;
    left:50%;
    transform: translateX(-50%);
    margin-top: 118px;
    border-radius: 5px;
    border: 1px solid var(--theme-color-dark);
  }
  #zoomControlsButtons{
    display: inline;
    float:left;
  }

  #zoom-in-btn{
    display: inline;
    order: 1;
    border-radius: 0px 5px 5px 0px;
    background-color: #ffe6d2;
    border:transparent;
  }
  #zoom-str-portrait{
    margin-left: 20px;
    margin-right:20px;
    align-self: center;
    font-size: 15px;
    font-weight: bolder;
    order: 0;
    color: var(--theme-color-dark);
  }  
  #zoom-out-btn{
    display: inline;
    order:-1;
    border-radius: 5px 0px 0px 5px;
    border:transparent;
    background-color: #ffe6d2;
  }
  #print-pdf-btn{
    order:1;
    display:block;
    width: fit-content;
    color: var(--theme-color-dark);
    background-color: var(--theme-color-medium);
    border: 1px solid var(--theme-color-dark);
  }
  .hide-on-portrait{
    display: none;    
  }
  .show-on-portrait{
    display: block;
  }
  /* style collapsibles */
  .portraitCollapsible{
    margin-top: 8px;
    margin-left: -4px;
    font-weight: 550;
    display: inline;
    background-color: transparent;
    color: var(--theme-color-dark);
    cursor: pointer;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: var(--port-collapsible-fontsize);

  }
.portraitCollapsible:after {
    text-align: center;
    content: '\002B';
    width: 20px;
    font-size: port-collapsible-fontsize;
    color: var(--theme-color-dark);
    float: right;
    margin-left: 5px;
  }

  .portraitCollapsible.active:after {
    content: "\2212"; 
    font-size: port-collapsible-fontsize;
    float: right;
    margin-left: 5px;
  }
  .active, .collapsible:hover {
    background-color: var(--theme-color-medium);
  }

  .collapsibleContent{
    padding: 10px 10px;
    overflow: hidden;
    width: fit-content;
  }
  #advanced-settings-btn{
    transform: rotate(22.5deg);
    margin-left: auto;
    margin-right: var(--settings-margin);
    width:fit-content;
    display: block;
    border:none;
    float:right;
    order:1;
    background-color: transparent;
    font-size: xx-large;
    color: var(--theme-color-dark);
    order:-1;
  }
  #advanced-settings-btn.active{
    transform: rotate(0deg);
    margin-bottom: 20px;
  }

  .advanced-setting{
    padding-left:5px;
    background-color: var(--theme-color-light);
    margin-right: 10px;
    order:0;
    display: block;
    width: 100%;
    margin-right: var(--settings-margin);
    margin-left: var(--settings-margin);
    border-right: 1px solid var(--theme-color-dark);
    border-left: 1px solid var(--theme-color-dark);
  }
  #first-adv-setting{
    margin-top: 5px;
    border-top: 1px solid var(--theme-color-dark);
    border-radius: 5px 5px 0px 0px;  
    order:-1;
  }
  #last-adv-setting{
    padding-bottom: 5px;
    border-bottom: 1px solid var(--theme-color-dark);
    border-radius: 0px 0px 5px 5px;  
    order:1;
  }
  .search{
    color:#d25701; 
  }

  .ui.selection.dropdown{
    background-color: white;
    border: 1px solid var(--theme-color-dark);
    color: var(--theme-color-dark);
  }

  .ui.selection.dropdown:focus{
    border: 1px solid var(--theme-color-dark);
  }
  .ui.toggle.checkbox label, .ui.toggle.checkbox .active{
    color: var(--theme-color-dark);
  }
  .ui.toggle.checkbox.focus{
    color: var(--theme-color-dark);
  }
  #transpose-btn{
    margin-top: 5px;
    border-radius: 5px;
  }
}

#selection{
  margin-top: 4px;
}


.bignum {
  width: 1em;
  text-align: center;
  font-size: 4em;
  color: white;
  background-color: black;
  padding: 0.3em;
  border-right: 0.3em solid white;
}

#error-tr {
  background-color: red;
  text-align: center;
}

#error-td {
  padding: 1em;
  color: white;
}

table {
    width: 100%;
}
