p {
  margin: 0px 8px 8px 8px;
}
:root{
  --port-collapsible-fontsize: 17px;
}
.portraitCollapsible{
  display: none;
}
/* mobile portrait mode: change layout (responsive) to be less cluttered, remove some elements */
@media (max-width: 500px) {
  #divControls {
    display:flex;
    flex-direction: column;
    margin-left: 10px
  }
  #backend-select-div {
    display: none
  }
  #zoomControls{
    order: 0;
  }

  .hide-on-portrait{
    display: none;    
  }
  
  /* style collapsibles */
  .portraitCollapsible{
    margin-top: 8px;
    margin-left: -4px;
    font-weight: 550;
    display: inline;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: var(--port-collapsible-fontsize);

  }
  .portraitCollapsible:after {
    text-align: center;
    content: '\002B';
    background-color: #eee;
    width: 20px;
    font-size: port-collapsible-fontsize;
    color: #acacac;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "v"; 
    font-size: port-collapsible-fontsize;
    color: 444;
    float: right;
    margin-left: 5px;
  }
  .active, .collapsible:hover {
    background-color: #eee;
  }
  .collapsibleContent{
    padding: 10px 10px;
    overflow: hidden;
    width: fit-content;
  }
}

#header{
  margin-top: 4px;
}

/* the select widths are not used for some reason, even if we don't set the style in index.html */
select {
  width: 100px;
  margin: 2px 8px 8px 8px;
}

#selectSample {
  width: 320px;
}

#selectBounding {
  width: 80%;
}

.bignum {
  width: 1em;
  text-align: center;
  font-size: 4em;
  color: white;
  background-color: black;
  padding: 0.3em;
  border-right: 0.3em solid white;
}

#error-tr {
  background-color: red;
  text-align: center;
}

#error-td {
  padding: 1em;
  color: white;
}

table {
    width: 100%;
}
