p {
  margin: 0px 8px 8px 8px;
}

/* the select widths are not used for some reason, even if we don't set the style in index.html */
select {
  width: 100px;
  margin: 2px 8px 8px 8px;
}

#selectSample {
  width: 320px;
}

.bignum {
  width: 1em;
  text-align: center;
  font-size: 4em;
  color: white;
  background-color: black;
  padding: 0.3em;
  border-right: 0.3em solid white;
}

#error-tr {
  background-color: red;
  text-align: center;
}

#error-td {
  padding: 1em;
  color: white;
}

table {
    width: 100%;
}
