<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="A showcase for OpenSheetMusicDisplay.">
    <meta name="author" content="OpenSheetMusicDisplay contributors">
    <!-- Demo js file is included automatically by webpack druing build -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js" type="text/javascript"></script>    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.css" media="all" rel="stylesheet"/>
    <link rel="icon" href="./favicon.ico?" type="image/x-icon"/>
</head>
<body>
<br>
<h1 class="ui centered header">
    <img src="./favicon.ico?" class="ui image">
    <%= htmlWebpackPlugin.options.title %>
</h1>
<div class="ui four column grid container">
    <div class="column">
        <h3 class="ui header">Select a sample:</h3>
        <select class="ui selection dropdown" id="selectSample" style="width:320px; height:38%"></select>
    </div>
    <div class="column">
        <h3 class="ui header">Render backend:</h3>
        <select class="ui selection dropdown" id="backend-select" value="svg" style="height:38%">
            <option value="svg">SVG</option>
            <option value="canvas">Canvas</option>>
        </select>
    </div>
    <div class="column">
        <h3 class="ui header">Cursor controls:</h3>
        <div>
            <div class="ui vertical buttons">
                <div class="ui animated fade button" id="show-cursor-btn">
                    <div class="visible content">Show</div>
                    <div class="hidden content">
                        <i class="eye icon"></i>
                    </div>
                </div>
                <div class="ui animated fade button" id="hide-cursor-btn">
                    <div class="visible content">Hide</div>
                    <div class="hidden content">
                        <i class="eye slash icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui vertical buttons">
                <div class="ui animated fade button" id="next-cursor-btn">
                    <div class="visible content">Next</div>
                    <div class="hidden content">
                        <i class="arrow right icon"></i>
                    </div>
                </div>
                <div class="ui animated fade button" id="reset-cursor-btn">
                    <div class="visible content">Reset</div>
                    <div class="hidden content">
                        <i class="undo icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>         
    <div class="column">
        <h3 class="ui header">Zoom controls:</h3>
        <div class="ui buttons">
            <div class="ui button" id="zoom-in-btn">
                <i class="search plus icon"></i>
            </div>
            <div class="ui button" id="zoom-out-btn">
                <i class="search minus icon"></i>
            </div>
        </div>
        <h4 class="ui header" id="zoom-str">???</h4>
    </div>
    <div class="column">
        <h3 class="ui header">Show bounding box for:</h3>
        <select class="ui selection dropdown" id="selectBounding">
            <option value="none">None</option>
            <option value="all">All</option>
            <option value="VexFlowMeasure">Measures</option>
            <option value="VexFlowGraphicalNote">GraphicalNotes</option>
            <option value="VexFlowVoiceEntry">VoiceEntries</option>
            <option value="VexFlowStaffEntry">StaffEntries</option>
            <option value="GraphicalLabel">Labels</option>
            <option value="VexFlowStaffLine">StaffLines</option>
            <option value="SystemLine">SystemLines</option>
            <option value="StaffLineActivitySymbol">ActivitySymbols</option>
            <option value="VexFlowContinuousDynamicExpression">DynamicExpressions</option>
        </select>
    </div>
    <div class="column">
        <h3 class="ui header">Show debug information:</h3>
        <div class="ui relaxed list">
            <div class="item">
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="public" id="skylineDebug">
                    <label>Skyline</label>
                </div>
            </div>
            <div class="item">
                <div class="ui toggle checkbox">
                    <input type="checkbox" name="public" id="bottomlineDebug">
                    <label>Bottomline</label>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <h3 class="ui header">Debug controls:</h3>
        <div class="ui vertical buttons">
            <div class="ui button" id="debug-re-render-btn">Re-render</div>
        </div>
    </div>
</div>
<table cellspacing="0" style="max-width:700px;">
    <tr id="error-tr">
        <td></td>
        <td id="error-td"></td>
    </tr>
</table>
</body>
</html>
